src/main/resources/sign/aruba/wsdl/ArubaSignService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://arubasignservice.arubapec.it/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://arubasignservice.arubapec.it/" name="ArubaSignServiceService">
    <wsp:Policy wsu:Id="ArubaSignServicePortBindingPolicy">
        <ns1:OptimizedMimeSerialization
                xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    </wsp:Policy>
    <types>
        <xsd:schema elementFormDefault="qualified">
            <xsd:import namespace="http://arubasignservice.arubapec.it/"
                        schemaLocation="ArubaSignService.xsd"/>
        </xsd:schema>
    </types>
    <message name="tsd">
        <part name="parameters" element="tns:tsd"/>
    </message>
    <message name="tsdResponse">
        <part name="parameters" element="tns:tsdResponse"/>
    </message>
    <message name="TypeOfTransportNotImplemented">
        <part name="fault" element="tns:TypeOfTransportNotImplemented"/>
    </message>
    <message name="m7m">
        <part name="parameters" element="tns:m7m"/>
    </message>
    <message name="m7mResponse">
        <part name="parameters" element="tns:m7mResponse"/>
    </message>
    <message name="pkcs7signV2">
        <part name="parameters" element="tns:pkcs7signV2"/>
    </message>
    <message name="pkcs7signV2Response">
        <part name="parameters" element="tns:pkcs7signV2Response"/>
    </message>
    <message name="ping">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingResponse">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
    <message name="tsr">
        <part name="parameters" element="tns:tsr"/>
    </message>
    <message name="tsrResponse">
        <part name="parameters" element="tns:tsrResponse"/>
    </message>
    <message name="addpkcs7sign">
        <part name="parameters" element="tns:addpkcs7sign"/>
    </message>
    <message name="addpkcs7signResponse">
        <part name="parameters" element="tns:addpkcs7signResponse"/>
    </message>
    <message name="pdfsignatureV2">
        <part name="parameters" element="tns:pdfsignatureV2"/>
    </message>
    <message name="pdfsignatureV2Response">
        <part name="parameters" element="tns:pdfsignatureV2Response"/>
    </message>
    <message name="pkcs7sign">
        <part name="parameters" element="tns:pkcs7sign"/>
    </message>
    <message name="pkcs7signResponse">
        <part name="parameters" element="tns:pkcs7signResponse"/>
    </message>
    <message name="pdfsignature">
        <part name="parameters" element="tns:pdfsignature"/>
    </message>
    <message name="pdfsignatureResponse">
        <part name="parameters" element="tns:pdfsignatureResponse"/>
    </message>
    <message name="listprocess">
        <part name="parameters" element="tns:listprocess"/>
    </message>
    <message name="listprocessResponse">
        <part name="parameters" element="tns:listprocessResponse"/>
    </message>
    <message name="signhash">
        <part name="parameters" element="tns:signhash"/>
    </message>
    <message name="signhashResponse">
        <part name="parameters" element="tns:signhashResponse"/>
    </message>
    <message name="xmlsignature">
        <part name="parameters" element="tns:xmlsignature"/>
    </message>
    <message name="xmlsignatureResponse">
        <part name="parameters" element="tns:xmlsignatureResponse"/>
    </message>
    <message name="opensession">
        <part name="parameters" element="tns:opensession"/>
    </message>
    <message name="opensessionResponse">
        <part name="parameters" element="tns:opensessionResponse"/>
    </message>
    <message name="closesession">
        <part name="parameters" element="tns:closesession"/>
    </message>
    <message name="closesessionResponse">
        <part name="parameters" element="tns:closesessionResponse"/>
    </message>
    <message name="pkcs7signhash">
        <part name="parameters" element="tns:pkcs7signhash"/>
    </message>
    <message name="pkcs7signhashResponse">
        <part name="parameters" element="tns:pkcs7signhashResponse"/>
    </message>
    <message name="listCert">
        <part name="parameters" element="tns:listCert"/>
    </message>
    <message name="listCertResponse">
        <part name="parameters" element="tns:listCertResponse"/>
    </message>
    <message name="listCertAuth">
        <part name="parameters" element="tns:listCertAuth"/>
    </message>
    <message name="listCertAuthResponse">
        <part name="parameters" element="tns:listCertAuthResponse"/>
    </message>
    <message name="verifyOtp">
        <part name="parameters" element="tns:verifyOtp"/>
    </message>
    <message name="verifyOtpResponse">
        <part name="parameters" element="tns:verifyOtpResponse"/>
    </message>
    <message name="sendCredential">
        <part name="parameters" element="tns:sendCredential"/>
    </message>
    <message name="sendCredentialResponse">
        <part name="parameters" element="tns:sendCredentialResponse"/>
    </message>
    <message name="sendCredentialAuth">
        <part name="parameters" element="tns:sendCredentialAuth"/>
    </message>
    <message name="sendCredentialAuthResponse">
        <part name="parameters" element="tns:sendCredentialAuthResponse"/>
    </message>
    <message name="pkcs7signV2_multiple">
        <part name="parameters" element="tns:pkcs7signV2_multiple"/>
    </message>
    <message name="pkcs7signV2_multipleResponse">
        <part name="parameters" element="tns:pkcs7signV2_multipleResponse"/>
    </message>
    <message name="pkcs7signhash_multiple">
        <part name="parameters" element="tns:pkcs7signhash_multiple"/>
    </message>
    <message name="pkcs7signhash_multipleResponse">
        <part name="parameters" element="tns:pkcs7signhash_multipleResponse"/>
    </message>
    <message name="pdfsignatureV2_multiple">
        <part name="parameters" element="tns:pdfsignatureV2_multiple"/>
    </message>
    <message name="pdfsignatureV2_multipleResponse">
        <part name="parameters" element="tns:pdfsignatureV2_multipleResponse"/>
    </message>
    <message name="xmlsignature_multiple">
        <part name="parameters" element="tns:xmlsignature_multiple"/>
    </message>
    <message name="xmlsignature_multipleResponse">
        <part name="parameters" element="tns:xmlsignature_multipleResponse"/>
    </message>
    <message name="retriveCredential">
        <part name="parameters" element="tns:retriveCredential"/>
    </message>
    <message name="retriveCredentialResponse">
        <part name="parameters" element="tns:retriveCredentialResponse"/>
    </message>
    <message name="auth_methods">
        <part name="parameters" element="tns:auth_methods"/>
    </message>
    <message name="auth_methodsResponse">
        <part name="parameters" element="tns:auth_methodsResponse"/>
    </message>
    <message name="encryptedEnvelope">
        <part name="parameters" element="tns:encryptedEnvelope"/>
    </message>
    <message name="encryptedEnvelopeResponse">
        <part name="parameters" element="tns:encryptedEnvelopeResponse"/>
    </message>
    <message name="test_otp">
        <part name="parameters" element="tns:test_otp"/>
    </message>
    <message name="test_otpResponse">
        <part name="parameters" element="tns:test_otpResponse"/>
    </message>
    <message name="credentials_query">
        <part name="parameters" element="tns:credentials_query"/>
    </message>
    <message name="credentials_queryResponse">
        <part name="parameters" element="tns:credentials_queryResponse"/>
    </message>
    <message name="pdfsignatureDTS">
        <part name="parameters" element="tns:pdfsignatureDTS"/>
    </message>
    <message name="pdfsignatureDTSResponse">
        <part name="parameters" element="tns:pdfsignatureDTSResponse"/>
    </message>
    <message name="updateSignature">
        <part name="parameters" element="tns:updateSignature"/>
    </message>
    <message name="updateSignatureResponse">
        <part name="parameters" element="tns:updateSignatureResponse"/>
    </message>
    <message name="change_password">
        <part name="parameters" element="tns:change_password"/>
    </message>
    <message name="change_passwordResponse">
        <part name="parameters" element="tns:change_passwordResponse"/>
    </message>
    <message name="getVersion">
        <part name="parameters" element="tns:getVersion"/>
    </message>
    <message name="getVersionResponse">
        <part name="parameters" element="tns:getVersionResponse"/>
    </message>
    <message name="verify">
        <part name="parameters" element="tns:verify"/>
    </message>
    <message name="verifyResponse">
        <part name="parameters" element="tns:verifyResponse"/>
    </message>
    <portType name="ArubaSignService">
        <operation name="tsd">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/tsdRequest" message="tns:tsd"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/tsdResponse"
                    message="tns:tsdResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/tsd/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="m7m">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/m7mRequest" message="tns:m7m"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/m7mResponse"
                    message="tns:m7mResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/m7m/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="pkcs7signV2">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signV2Request"
                   message="tns:pkcs7signV2"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signV2Response"
                    message="tns:pkcs7signV2Response"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signV2/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="ping">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pingRequest" message="tns:ping"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pingResponse"
                    message="tns:pingResponse"/>
        </operation>
        <operation name="tsr">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/tsrRequest" message="tns:tsr"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/tsrResponse"
                    message="tns:tsrResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/tsr/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="addpkcs7sign">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/addpkcs7signRequest"
                   message="tns:addpkcs7sign"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/addpkcs7signResponse"
                    message="tns:addpkcs7signResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/addpkcs7sign/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="pdfsignatureV2">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureV2Request"
                   message="tns:pdfsignatureV2"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureV2Response"
                    message="tns:pdfsignatureV2Response"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureV2/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="pkcs7sign">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signRequest"
                   message="tns:pkcs7sign"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signResponse"
                    message="tns:pkcs7signResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7sign/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="pdfsignature">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureRequest"
                   message="tns:pdfsignature"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureResponse"
                    message="tns:pdfsignatureResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignature/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="listprocess">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/listprocessRequest"
                   message="tns:listprocess"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/listprocessResponse"
                    message="tns:listprocessResponse"/>
        </operation>
        <operation name="signhash">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/signhashRequest"
                   message="tns:signhash"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/signhashResponse"
                    message="tns:signhashResponse"/>
        </operation>
        <operation name="xmlsignature">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/xmlsignatureRequest"
                   message="tns:xmlsignature"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/xmlsignatureResponse"
                    message="tns:xmlsignatureResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/xmlsignature/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="opensession">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/opensessionRequest"
                   message="tns:opensession"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/opensessionResponse"
                    message="tns:opensessionResponse"/>
        </operation>
        <operation name="closesession">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/closesessionRequest"
                   message="tns:closesession"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/closesessionResponse"
                    message="tns:closesessionResponse"/>
        </operation>
        <operation name="pkcs7signhash">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signhashRequest"
                   message="tns:pkcs7signhash"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signhashResponse"
                    message="tns:pkcs7signhashResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signhash/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="listCert">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/listCertRequest"
                   message="tns:listCert"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/listCertResponse"
                    message="tns:listCertResponse"/>
        </operation>
        <operation name="listCertAuth">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/listCertAuthRequest"
                   message="tns:listCertAuth"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/listCertAuthResponse"
                    message="tns:listCertAuthResponse"/>
        </operation>
        <operation name="verifyOtp">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/verifyOtpRequest"
                   message="tns:verifyOtp"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/verifyOtpResponse"
                    message="tns:verifyOtpResponse"/>
        </operation>
        <operation name="sendCredential">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/sendCredentialRequest"
                   message="tns:sendCredential"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/sendCredentialResponse"
                    message="tns:sendCredentialResponse"/>
        </operation>
        <operation name="sendCredentialAuth">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/sendCredentialAuthRequest"
                   message="tns:sendCredentialAuth"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/sendCredentialAuthResponse"
                    message="tns:sendCredentialAuthResponse"/>
        </operation>
        <operation name="pkcs7signV2_multiple">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signV2_multipleRequest"
                   message="tns:pkcs7signV2_multiple"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signV2_multipleResponse"
                    message="tns:pkcs7signV2_multipleResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signV2_multiple/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="pkcs7signhash_multiple">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signhash_multipleRequest"
                   message="tns:pkcs7signhash_multiple"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signhash_multipleResponse"
                    message="tns:pkcs7signhash_multipleResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pkcs7signhash_multiple/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="pdfsignatureV2_multiple">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureV2_multipleRequest"
                   message="tns:pdfsignatureV2_multiple"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureV2_multipleResponse"
                    message="tns:pdfsignatureV2_multipleResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureV2_multiple/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="xmlsignature_multiple">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/xmlsignature_multipleRequest"
                   message="tns:xmlsignature_multiple"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/xmlsignature_multipleResponse"
                    message="tns:xmlsignature_multipleResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/xmlsignature_multiple/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="retriveCredential">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/retriveCredentialRequest"
                   message="tns:retriveCredential"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/retriveCredentialResponse"
                    message="tns:retriveCredentialResponse"/>
        </operation>
        <operation name="auth_methods">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/auth_methodsRequest"
                   message="tns:auth_methods"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/auth_methodsResponse"
                    message="tns:auth_methodsResponse"/>
        </operation>
        <operation name="encryptedEnvelope">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/encryptedEnvelopeRequest"
                   message="tns:encryptedEnvelope"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/encryptedEnvelopeResponse"
                    message="tns:encryptedEnvelopeResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/encryptedEnvelope/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="test_otp">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/test_otpRequest"
                   message="tns:test_otp"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/test_otpResponse"
                    message="tns:test_otpResponse"/>
        </operation>
        <operation name="credentials_query">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/credentials_queryRequest"
                   message="tns:credentials_query"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/credentials_queryResponse"
                    message="tns:credentials_queryResponse"/>
        </operation>
        <operation name="pdfsignatureDTS">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureDTSRequest"
                   message="tns:pdfsignatureDTS"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureDTSResponse"
                    message="tns:pdfsignatureDTSResponse"/>
            <fault message="tns:TypeOfTransportNotImplemented" name="TypeOfTransportNotImplemented"
                   wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/pdfsignatureDTS/Fault/TypeOfTransportNotImplemented"/>
        </operation>
        <operation name="updateSignature">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/updateSignatureRequest"
                   message="tns:updateSignature"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/updateSignatureResponse"
                    message="tns:updateSignatureResponse"/>
        </operation>
        <operation name="change_password">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/change_passwordRequest"
                   message="tns:change_password"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/change_passwordResponse"
                    message="tns:change_passwordResponse"/>
        </operation>
        <operation name="getVersion">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/getVersionRequest"
                   message="tns:getVersion"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/getVersionResponse"
                    message="tns:getVersionResponse"/>
        </operation>
        <operation name="verify">
            <input wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/verifyRequest"
                   message="tns:verify"/>
            <output wsam:Action="http://arubasignservice.arubapec.it/ArubaSignService/verifyResponse"
                    message="tns:verifyResponse"/>
        </operation>
    </portType>
    <binding name="ArubaSignServicePortBinding" type="tns:ArubaSignService">
        <wsp:PolicyReference URI="#ArubaSignServicePortBindingPolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="tsd">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="m7m">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="pkcs7signV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="tsr">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="addpkcs7sign">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="pdfsignatureV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="pkcs7sign">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="pdfsignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="listprocess">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="signhash">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="xmlsignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="opensession">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="closesession">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="pkcs7signhash">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="listCert">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listCertAuth">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="verifyOtp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendCredential">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendCredentialAuth">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="pkcs7signV2_multiple">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="pkcs7signhash_multiple">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="pdfsignatureV2_multiple">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="xmlsignature_multiple">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="retriveCredential">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="auth_methods">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="encryptedEnvelope">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="test_otp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="credentials_query">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="pdfsignatureDTS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TypeOfTransportNotImplemented">
                <soap:fault name="TypeOfTransportNotImplemented" use="literal"/>
            </fault>
        </operation>
        <operation name="updateSignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="change_password">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getVersion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="verify">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ArubaSignServiceService">
        <port name="ArubaSignServicePort" binding="tns:ArubaSignServicePortBinding">
            <soap:address location="https://asbr-pagopa.arubapec.it:443/ArubaSignService/ArubaSignService"/>
        </port>
    </service>
</definitions>
